<div style="max-width: 960px;margin: 0 auto;">
  <h1>ember-paper-link</h1>

  <div class="layout-row">

    <div class="flex-50">
      <h2>paper-link</h2>
      <div class="layout-row">
        <h4 class="flex-20">Flat</h4>
        <div class="flex layout-row layout-align-space-around-center">
          {{paper-link 'First route' 'first-route'}}
          {{paper-link 'Second route' 'second-route' data-test-selector='second-route'}}
          {{paper-link 'Third route' 'third-route'}}
        </div>
      </div>

      <div class="layout-row">
        <h4 class="flex-20">Icons flat</h4>
        <div class="flex layout-row layout-align-space-around-center">
          {{#paper-link 'first-route' iconButton=true}}
            {{paper-icon 'filter_1' }}
          {{/paper-link}}
          {{#paper-link 'second-route' iconButton=true}}
            {{paper-icon 'filter_2' }}
          {{/paper-link}}
          {{#paper-link 'third-route' iconButton=true}}
            {{paper-icon 'filter_3' }}
          {{/paper-link}}
        </div>
      </div>

      <div class="layout-row">
        <h4 class="flex-20">Raised</h4>
        <div class="flex layout-row layout-align-space-around-center">
          {{paper-link 'First route' 'first-route' raised=true primary=true}}
          {{paper-link 'Second route' 'second-route' raised=true primary=true}}
          {{paper-link 'Third route' 'third-route' raised=true primary=true}}
        </div>
      </div>

      <div class="layout-row">
        <h4 class="flex-20">Icons Raised</h4>
        <div class="flex layout-row layout-align-space-around-center">
          {{#paper-link 'first-route' iconButton=true raised=true}}
            {{paper-icon 'filter_1' }}
          {{/paper-link}}
          {{#paper-link 'second-route' iconButton=true raised=true}}
            {{paper-icon 'filter_2' }}
          {{/paper-link}}
          {{#paper-link 'third-route' iconButton=true raised=true}}
            {{paper-icon 'filter_3' }}
          {{/paper-link}}
        </div>
      </div>
    </div>

    <div class="flex-50">
      <h2>paper-link-item</h2>

      <PaperList>
        {{#paper-link-item 'first-route'}}
          {{paper-icon 'filter_1'}}
          <p>First route</p>
        {{/paper-link-item}}
        {{#paper-link-item 'second-route'  data-test-selector='second-route-item'}}
          {{paper-icon 'filter_2'}}
          <p>Second route</p>
        {{/paper-link-item}}
        {{#paper-link-item 'third-route'}}
          {{paper-icon 'filter_3'}}
          <p>Third route</p>
        {{/paper-link-item}}

      </PaperList>

    </div>
  </div>

  <div style="background-color: #f5f5f5; padding: 30px;">
    {{outlet}}
  </div>
</div>
